* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #131313;
    width: 100%;
    height: 100vh;
    color: #777777;
    font-family: Roboto;
}

.textbox {
    margin-bottom: 25px;
    background: transparent;
    color: #777777;
    min-height: 140px;
    min-width: 790px;
    width: 790px;
    font-size: 20px;
    padding: 15px;
    word-wrap: break-word;
}

.kbd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    position: relative;
    text-align: center;
    min-width: 934px;
    width: 934px;
}

.kbd__row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.kbd:before {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff000088, #ff730088, #fffb0088, #48ff0088, #00ffd588, #002bff88, #7a00ff88, #ff00c888, #ff000088);
    filter: blur(10px);
}

.kbd__key {
    font-size: 16px;
    box-shadow: 0 0 0 4px #000000;
    outline: 4px solid #000000;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #ffffffaa;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 2px;
    overflow: visible;
}

.kbd__key_char,
.kbd__key_Escape,
.kbd__key_Tab,
.kbd__key_Delete,
.kbd__key_CapsLock,
.kbd__key_Enter,
.kbd__key_ShiftLeft,
.kbd__key_ShiftRight,
.kbd__key_ControlLeft,
.kbd__key_ControlRight {
    font-weight: bold;
}

.kbd__key_Backspace,
.kbd__key_Escape {
    font-size: 13px;
}

.kbd__key_func,
.kbd__key_space {
    flex: 1;
}

.kbd__key::before {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 10px);
    height: calc(100% - 10px);

    background: linear-gradient(135deg, rgba(66, 66, 66, 0.8) 0%, rgba(130, 140, 149, 0.8) 36%, rgba(17, 17, 17, 0.8) 100%);
    position: absolute;
    z-index: -1;
    border-radius: 10px;

    top: 4px;
    left: 4px;

    text-shadow: -1px -1px 0 #2e2e29;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
    transition: text-shadow .1s ease, color .5s ease-in-out;
}


[data-layout="en-caps"] .kbd__key_CapsLock::before,
[data-layout="en-shift-caps"] .kbd__key_CapsLock::before,
[data-layout="ru-caps"] .kbd__key_CapsLock::before,
[data-layout="ru-shift-caps"] .kbd__key_CapsLock::before {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-weight: bold;
}


[data-layout="en"] .kbd__key::before {
    content: attr(data-key-en);
}

[data-layout="en-shift"] .kbd__key::before {
    content: attr(data-key-en-shift);
}

[data-layout="en-caps"] .kbd__key::before {
    content: attr(data-key-en-caps);
}

[data-layout="en-shift-caps"] .kbd__key::before {
    content: attr(data-key-en-shift-caps);
}


[data-layout="ru"] .kbd__key::before {
    content: attr(data-key-ru);
}

[data-layout="ru-shift"] .kbd__key::before {
    content: attr(data-key-ru-shift);
}

[data-layout="ru-caps"] .kbd__key::before {
    content: attr(data-key-ru-caps);
}

[data-layout="ru-shift-caps"] .kbd__key::before {
    content: attr(data-key-ru-shift-caps);
}

.kbd__key::after {
    display: flex;
    justify-content: center;
    align-items: center;

    content: '';

    width: calc(100%);
    height: calc(100%);

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

    position: absolute;
    z-index: -2;

    top: 0;
    left: 0;

    filter: blur(5px);

    background-size: 400%;

    animation: glowing 20s linear infinite;

    opacity: 0;
    transition: opacity .3s ease-in-out;

    border-radius: 10px;
}


.kbd__key:active::before,
.kbd__key.active::before {
    top: 5.5px;
    left: 5.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    background: rgba(0, 0, 0, 0.8);

    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 250%;
}

.kbd__key_Backspace:active::before,
.kbd__key_Backspace.active::before {
    font-size: 120%;
}

.kbd__key:not([disabled]):hover::after {
    opacity: 1;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


.tip {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.arrow {
    font-size: 6rem;
}
